<main class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="player" style="width: 100%; padding-bottom: 56.25%; background-color: #aaa;"></div>
        </div>
        <div class="col-sm-0 col-md-4">
            <div class="chat"></div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li><a href="#">Queue</a></li>
        <li><a href="#">History</a></li>
        <li class="active"><a href="#">Users</a></li>
    </ul>
    <div class="users">
        
    </div>
</main>

{{#footer_script}}
<script>
    var name = "Bob";
    var socket = io.connect('/rooms');
    socket.on('text', function(msg) {
        $('.chat').append($(document.createElement('div')).text(msg));
    });
    socket.on('users', function(users) {
        var $users = $('.users');
        $users.html('');
        $.each(users, function(index, user) {
            $users.append($(document.createElement('div')).text(user));
        });
    });
    socket.on('stream', function(result) { 
        if (result.error) { console.log(result.error) }
        console.log('now streaming: ' + result.url) 
    });
    socket.on('play', function(result) { 
        if (result.error) { console.log(result.error) }
        var date = new Date();
        date.setTime(result.time);
        console.log(date);

        var now = new Date();
        console.log(now);
        console.log("adjusted time: "  + ((now.getTime() - date.getTime()) / 1000 + result.offset));
    });

    socket.on('host', function(hostInfo) {
        if (hostInfo.is_host) { console.log('This client is now the host'); }
        $('.chat').append($(document.createElement('div')).text(hostInfo.name + " is now host"));
    })

    function joinRoom(info) {
        socket.emit('join', { id: info.id, name: name }, function(result) {
            if (result.error) { console.log(result.error) }
            else { 
                console.log('joined room');
            }
        })
    }

    function leaveRoom() {
        socket.emit('leave');
        $('.chat, .users').html('');
    }

    function chat(text) {
        socket.emit('text', text);
    }

    function createRoom() {
        $.post({
            url: '/api/room/create',
            data: { name: 'test server 3' },
            dataType: 'json'
        }).done(function (data) {
            console.log(data.result.id);
            joinRoom(data.result);
        });
    }
</script>
{{/footer_script}}